.container{
width:300px;
height:500px;
background-color: rgb(201, 229, 229);
align-items:center;
text-align:center;
padding:20px;
display:inline-block;
margin:10px;
border-radius:15px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 50px;
}
.container img{
 width:185px;
 height:185px;
 border-radius: 10px;
}
.container p{
 font-size:20px;
 color:rgb(224, 2, 146);
 font-weight: bolder;
 
}
.container h2{
 color:rgb(28, 26, 28);
}